DB_HOST=localhost
DB_USER=kakefrue
DB_PASS=
DB_NAME=kakefrue
ADMIN_PASSWORD=
SUMUP_API_KEY=
SUMUP_MERCHANT_CODE=
VIPPS_CLIENT_ID=
VIPPS_CLIENT_SECRET=
SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=post@kakefrue.no
PORT=3000
